// Primary
$primary: #ffde2b;
$primaryXLight: #feeb86;
$primaryLight: #baa21f;
$primaryDark: #806f15;
$primaryDarker: #474432;
$primaryDisabled: #857730;

// Brand
$brandPurple: #5e00ff;
$brandOrange: #ff6700;

// Success
$success: #02c07d;
$successLight: #7edebc;
$successDark: #245d49;

// Warning
$warning: #ff6700;
$warningLight: #ffe1be;
$warningDark: #401a00;

// Error
$error: #de1c22;
$errorLight: #f9d3d4;
$errorDark: #300006;

// Info
$info: #2196f3;
$infoLight: #60b2f3;
$infoDark: #2e516d;

// Delete
$delete: #e84545;
$deleteLight: #ec6c6c;
$deleteDark: #ad7676;

// Gray
$black: #000;
$onyx: #1e1e1e;
$cavern: #242424;
$slate: #2c2c2c;
$pewter: #333;
$shadow: #373737;
$charcoal: #3b3b3b;
$graphite: #4c4c4c;
$mist: #616161;
$dust: #8a8a8a;
$neutral: #a8a8a8;
$marshmellow: #d0d0d0;
$bone: #e0e0e0;
$white: #fff;
