@use '../../styles/colours';
@use '../../styles/funcs' as fn;
@use './local-colours' as lc;


.type-wrapper {
    padding: fn.px-to-rem(9px);
    background-color: lc.$background;
    margin: fn.px-to-rem(9px) 0;
    border-radius: fn.px-to-rem(6px);
    box-shadow: lc.$shadow 0 fn.px-to-rem(6px) fn.px-to-rem(12px);
}

.type-wrapper a,
.type-wrapper a:link,
.type-wrapper a:visited {
    color: colours.$slate;
}

.title {
    font-weight: bold;
    font-size: 140%;
    color: colours.$slate;
}

.codec {
    display: block;
}

a.codec:focus {
    outline: inset fn.px-to-rem(9px) solid colours.$brandOrange;
    border-radius: fn.px-to-rem(6px)
}
