.type-wrapper {
    padding: 0.375rem;
    background-color: #ffe1be;
    margin: 0.375rem 0;
    border-radius: 0.1875rem;
    box-shadow: #d0d0d0 0 0.1875rem 0.5625rem;
}

.type-wrapper a,
.type-wrapper a:link,
.type-wrapper a:visited {
    color: #2c2c2c;
}

.title {
    font-weight: bold;
    font-size: 140%;
    color: #2c2c2c;
}

.codec {
    display: block;
}

a.codec:focus {
    outline: inset 0.375rem solid #ff6700;
    border-radius: 0.1875rem;
}
