* {
    box-sizing: border-box;
}

.title {
    font-weight: bold;
    font-size: 120%;
    padding: 0.5rem 0;
}

.codec-wrapper {
    border: 0.125rem solid #2c2c2c;
    margin: 0.5rem 0;
    border-radius: 0.125rem;
    box-shadow: #d0d0d0 0 0.125rem 0.25rem;
}

.whole > div {
    width: 100%;
    border-top: 0.125rem solid #2c2c2c;
    border-right: 0.125rem solid #2c2c2c;
}

.half > div {
    width: 50%;
    border-top: 0.125rem solid #2c2c2c;
    border-right: 0.125rem solid #2c2c2c;
}

.third > div {
    width: 33.33333%;
    border-top: 0.125rem solid #2c2c2c;
    border-right: 0.125rem solid #2c2c2c;
}

.quarter > div {
    width: 25%;
    border-top: 0.125rem solid #2c2c2c;
    border-right: 0.125rem solid #2c2c2c;
}

.whole > div:last-child,
.half > div:last-child,
.third > div:last-child,
.quarter > div:last-child {
    border-right: none;
}

/* ----- UTILITY ----- */

.title-wrapper {
    padding: 0.5rem;
}

.inline-block {
    display: inline-block;
}

.text-center {
    text-align: center;
}

div.valid {
    background: #02c07d;
}

.box {
    background: #ec6c6c;
    padding: 0.5rem;
}

.b-bottom {
    border-bottom: 0.125rem solid #2c2c2c;
}

.v-align-top {
    vertical-align: top;
}
