.type-wrapper {
    padding: 8px;
    background-color: #fafad2;
    margin: 8px 0;
    border-radius: 4px;
    box-shadow: #aeaeae 0px 3px 8px;
}

.type-wrapper a,
.type-wrapper a:link,
.type-wrapper a:visited {
    color: black;
}

.title {
    font-weight: bold;
    font-size: 140%;
    color: black;
}

.codec {
    display: block;
}

a.codec:focus {
    outline: inset 6px solid #ffa601;
    border-radius: 4px;
}
