@use '../styles/colours';
@use '../styles/funcs' as fn;

.view {
    height: 100%;
}

.myForm {
    background: colours.$shadow;
    transform: translate(-50%, -50%);
    top: 50%;
    position: relative;
    left: 50%;
    width: 60%;
    padding: fn.px-to-rem(24px);
}

.myForm > div {
    margin-bottom: fn.px-to-rem(24px);
}

.keyboardDrawer {
    position: absolute;
    transition: transform 250ms ease;
    transform: translateY(200%);
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.keyboardDrawer:global(.active) {
    transform: translateY(0%);
}

.output {
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
    background: colours.$shadow;
    color: colours.$white;
}
