.view {
    height: 100%;
}

.myForm {
    background: #363636;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    top: 50%;
    position: relative;
    left: 50%;
    width: 60%;
    padding: 1rem;
}

.myForm > div {
    margin-bottom: 1rem;
}

.keyboardDrawer {
    position: absolute;
    -webkit-transition: -webkit-transform 250ms ease;
    -webkit-transform: translateY(200%);
    transition: transform 250ms ease;
    -webkit-transform: translateY(200%);
    transform: translateY(200%);
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
}

.keyboardDrawer:global(.active) {
    -webkit-transform: translateY(0%);
    transform: translateY(0%);
}

.output {
    position: absolute;
    right: 0;
    top: 0;
    left: auto;
    background: #363636;
    color: white;
}
