@use '../styles/colours';

.searchInput {
    display: block;
    font-size: 5rem;
    min-height: 6rem;
    background-color: colours.$onyx;
    color: colours.$white;
    margin-bottom: 1rem;
}

.searchResults {
    max-height: 32rem;
    overflow: hidden;
}

.searchNoResults {
    font-size: 2rem;
}

.searchResult {
    height: 3rem;
    background-color: colours.$slate;
    margin-bottom: 1rem;
    padding: 0 1rem;
    color: colours.$white;
    border-radius: 0.25rem;
    font-size: 2rem;
}

:global(.focused) > .searchResult {
    background: colours.$brandPurple;
}

.searchResultsSlider {
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: transform 0.25s ease-in-out 0;
}

.searchResultsSlider > a {
    display: block;
    text-decoration: none;
}

.panels2 {
    width: 100%;
}

.panels2 > * {
    width: 50%;
    display: inline-block;
    vertical-align: top;
}
