@use '../styles/colours';
@use '../styles/funcs' as fn;

.showBleedImage {
    position: absolute;
}

.showOverlay {
    position: relative;
    max-width: 50%;
}

.showLogo {
    position: relative;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: left top;
    transform-origin: left top;
    -webkit-transition: -webkit-transform 250ms ease;
    transition: transform 250ms ease;
    height: fn.px-to-rem(240px);
}

.showLogo:global(.min) {
    -webkit-transform: scale(0.25);
    transform: scale(0.25);
}

.showTitle {
    font-size: 4rem;
}

.showDescription {
    white-space: normal;
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.suggestions {
    position: relative;
    margin-top: fn.px-to-rem(240px);
}

.suggestions :global(.lazy-image) {
    width: fn.px-to-rem(384px);
    height: fn.px-to-rem(216px);
    margin: 0 fn.px-to-rem(24px) fn.px-to-rem(24px) 0;
    border: fn.px-to-rem(6px) solid transparent;
    border-radius: fn.px-to-rem(12px);
}

.suggestions a:global(.focused) :global(.lazy-image) {
    border: fn.px-to-rem(6px) solid colours.$primary;
}
