.button {
    background: none;
    color: #aaa;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    border: 0.15rem solid #979797;
}

.button:global(.focused) {
    color: #000;
    background-color: #ffde2b;
    border: 0.15rem solid #ffde2b;
}

.button:global(.ghost.focused) {
    color: inherit;
    background-color: inherit;
}
