@use '../styles/colours';
@use '../styles/funcs' as fn;

.button {
    background: none;
    color: colours.$neutral;
    padding: fn.px-to-rem(12px) fn.px-to-rem(24px);
    border-radius: fn.px-to-rem(12px);
    font-weight: bold;
    border: fn.px-to-rem(3px) solid colours.$graphite;
}

.button:global(.focused) {
    color: colours.$black;
    background-color: colours.$primary;
    border: fn.px-to-rem(3px) solid colours.$primary;
}

.button:global(.ghost.focused) {
    color: inherit;
    background-color: inherit;
}
