@use '../styles/colours';

.button {
    background: none;
    color: colours.$neutral;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    font-weight: bold;
    border: 0.15rem solid colours.$graphite;
}

.button:global(.focused) {
    color: colours.$black;
    background-color: colours.$primary;
    border: 0.15rem solid colours.$primary;
}

.button:global(.ghost.focused) {
    color: inherit;
    background-color: inherit;
}
