@use '../styles/colours';
@use '../styles/funcs' as fn;

.checkbox label {
    display: block;
    position: relative;
    padding-left: fn.px-to-rem(48px);
    outline: none;
}

.checkbox label input[type='checkbox'] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

.checkbox label span {
    position: absolute;
    border: fn.px-to-rem(3px) solid colours.$dust;
    /* position to the free space in <label> */
    top: 0;
    left: 0;
    width: fn.px-to-rem(24px);
    height: fn.px-to-rem(24px);
    background-color: colours.$slate;
    transition: 0.3s background-color; /* slight transition */
}

.checkbox label:global(.focused) span {
    border: fn.px-to-rem(3px) solid colours.$primary;
}

.checkbox label input:checked ~ span {
    background-color: colours.$primary;
}
