/* https://assemble.nonprd.pluto.tv/tokens/colors */

* {
    box-sizing: border-box;
}

.title {
    font-weight: bold;
    font-size: 120%;
    padding: 4px 0;
}

.codec-wrapper {
    border: 2px solid #2c2c2c; /* slate */
    margin: 8px 0;
    border-radius: 4px;
    box-shadow: #d0d0d0 0px 3px 8px; /* marshmellow */
}

.whole > div {
    width: 100%;
    border-top: 2px solid #2c2c2c;
    border-right: 2px solid #2c2c2c;
}

.half > div {
    width: 50%;
    border-top: 2px solid #2c2c2c;
    border-right: 2px solid #2c2c2c;
}

.third > div {
    width: 33.33333%;
    border-top: 2px solid #2c2c2c;
    border-right: 2px solid #2c2c2c;
}

.quarter > div {
    width: 25%;
    border-top: 2px solid #2c2c2c;
    border-right: 2px solid #2c2c2c;
}

.whole > div:last-child,
.half > div:last-child,
.third > div:last-child,
.quarter > div:last-child {
    border-right: none;
}

/* ----- UTILITY ----- */

.title-wrapper {
    padding: 4px;
}

.inline-block {
    display: inline-block;
}

.text-center {
    text-align: center;
}

div.valid {
    background: #02c07d; /* success */
}

.box {
    background: #ec6c6c; /* deleteLight */
    padding: 6px;
}

.b-bottom {
    border-bottom: 2px solid #2c2c2c;
}

.v-align-top {
    vertical-align: top;
}
