* {
    box-sizing: border-box;
}

.title {
    font-weight: bold;
    font-size: 120%;
    padding: 4px 0;
}

.codec-wrapper {
    border: 2px solid #000000;
    margin: 8px 0;
    border-radius: 4px;
    box-shadow: #aeaeae 0px 3px 8px;
}

.half > div {
    width: 50%;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
}

.third > div {
    width: 33.33333%;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
}

.half > div:last-child,
.third > div:last-child {
    border-right: none;
}

/* ----- UTILITY ----- */

.title-wrapper {
    padding: 4px;
}

.float-left {
    float: left;
}

.clear {
    clear: left;
}

.inline-block {
    display: inline-block;
}

.text-center {
    text-align: center;
}

div.valid {
    background: #90ee90;
}

.box {
    background: #f08080;
    padding: 6px;
}

.b-bottom {
    border-bottom: 2px solid #000000;
}
