@use '../styles/colours';

.dialog {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: colours.$cavern;
}

.dialogTitleContainer {
    background-color: colours.$brandPurple;
}

.dialogTitle {
    display: inline-block;
    font-size: 1.5rem;
}

.dialogClose {
    display: inline-block;
    border: 0;
    background: none;
    height: 2rem;
    width: 2rem;
    vertical-align: top;
    color: colours.$onyx;
    margin-right: 1rem;
}

.dialogClose:global(.focused) {
    color: colours.$white;
    background-color: none;
}
