.dialog {
    width: 50%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #2a2a2a;
}

.dialogTitleContainer {
    background-color: #5e00ff;
}

.dialogTitle {
    display: inline-block;
    font-size: 1.5rem;
}

.dialogClose {
    display: inline-block;
    border: 0;
    background: none;
    height: 2rem;
    width: 2rem;
    vertical-align: top;
    color: #1c004c;
    margin-right: 1rem;
}

.dialogClose:global(.focused) {
    color: white;
    background-color: none;
}
