@use '../styles/colours';

.primary {
    color: colours.$white;
}
.secondary {
    color: colours.$neutral;
}
.highlight {
    color: colours.$primary;
}
.disabled {
    color: colours.$dust;
}
.error {
    color: colours.$error;
}
