@use '../styles/colours';

.keyboardKey {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: colours.$shadow;
    color: colours.$white;
    border: none;
    border-radius: 0.25rem;
    font-size: 1.5rem;
    padding: 0;
}

.keyboardKey:global(.focused) {
    color: colours.$charcoal;
    background-color: colours.$white;
}

.w2 {
    width: 7rem;
}
