.keyboard {
}

.keyboardRow {
}

.keyboardKey {
    width: 3rem;
    height: 3rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
    background-color: #393939;
    color: white;
    border: none;
    border-radius: 0.25rem;
    font-size: 1.5rem;
}

.keyboardKey:global(.focused) {
    color: #393939;
    background-color: white;
}

.w2 {
    width: 7rem;
}
