@use '../styles/colours';
@use '../styles/funcs' as fn;

.keyboardKey {
    width: fn.px-to-rem(72px);
    height: fn.px-to-rem(72px);
    margin-right: fn.px-to-rem(24px);
    margin-bottom: fn.px-to-rem(24px);
    background-color: colours.$shadow;
    color: colours.$white;
    border: none;
    border-radius: fn.px-to-rem(3px);
    font-size: 1.5rem;
    padding: 0;
}

.keyboardKey:global(.focused) {
    color: colours.$charcoal;
    background-color: colours.$white;
}

.w2 {
    width: fn.px-to-rem(168px);
}
