@use '../styles/colours';

.mainNav {
    position: absolute;
    top: 0;
    left: 0;
    width: 18.75rem;
    height: 100%;
    transition: width 250ms ease-in-out;
    z-index: 100;
    padding-top: 5rem;
    background: rgba(54, 54, 54, 0.8);
}

.mainNav:global(.collapsed) {
    width: 6.25rem;
    background-color: transparent;
}

.mainNav ol {
    max-width: 6.25rem;
}

.mainNav li {
    margin-bottom: 1rem;
}

.mainNav a {
    padding: 0.5rem;
    width: 100%;
    display: block;
    box-sizing: border-box;
    border-radius: 0 1rem 1rem 0;
    color: colours.$white;
    text-decoration: none;
    font-weight: bold;
}

.mainNav :global(a.focused) {
    color: colours.$black;
    background-color: colours.$primary;
}

.mainNav :global(a.active:not(.focused)) {
    background-color: colours.$shadow;
}

.mainNav > div {
    display: block;
}
