@use '../styles/colours';

.spinnerContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    right: 0;
    bottom: 0;
    color: colours.$white;
}

.spinnerInner {
    top: 50%;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
    display: inline-block;
    font-size: 5rem;
}
