.textInput input {
    border: 0;
    background: #2c2c2c;
    border-bottom: 0.2rem solid transparent;
    margin-right: 1rem;
    outline: none;
    height: 2rem;
}

.textInput input:global(.focused) {
    border-bottom: 0.2rem solid #ffde2b;
}
