@use '../styles/colours';

.textInput input {
    border: 0;
    background: colours.$slate;
    border-bottom: 0.2rem solid transparent;
    margin-right: 1rem;
    outline: none;
    height: 2rem;
    color: colours.$white;
}

.textInput input:global(.focused) {
    border-bottom: 0.2rem solid colours.$primary;
}
