@use '../styles/colours' as col;
@use '../styles/funcs' as fn;

.textInput input {
    border: 0;
    background: col.$slate;
    border-bottom: fn.px-to-rem(3px) solid transparent;
    margin-right: fn.px-to-rem(24px);
    outline: none;
    height: fn.px-to-rem(48px);
    color: col.$white;
}

.textInput input:global(.focused) {
    border-bottom: fn.px-to-rem(3px) solid col.$primary;
}
