@use '../styles/colours';

.tile {
    width: 20rem;
    height: 11.25rem;
    display: inline-block;
    background-color: colours.$brandPurple;
    color: colours.$white;
    font-size: 2rem;
    overflow: hidden;
    position: relative;
}

.tile > span {
    display: inline-block;
    left: 50%;
    position: relative;
    top: 50%;
    transform: translate(-50%, -50%);
}

:global(a.focused) .tile {
    background-color: colours.$brandOrange;
}
