@use '../styles/colours' as col;
@use '../styles/funcs' as fn;

.button {
	background: none;
	color: col.$neutral;
	padding: fn.px-to-rem(12px) fn.px-to-rem(24px);
	border-radius: fn.px-to-rem(12px);
	font-weight: bold;
	border: fn.px-to-rem(3px) solid col.$graphite;
}

.button:focus {
	color: col.$black;
	background-color: col.$primary;
	border: fn.px-to-rem(3px) solid col.$primary;
}

.button:focus:global(.ghost) {
	color: inherit;
	background-color: inherit;
}
