@use '../styles/funcs' as fn;

.carousel {
    display: block;
    margin-bottom: fn.px-to-rem(48px);
}

.carouselTitle {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: fn.px-to-rem(24px);
}

.carouselInner {
    display: block;
    position: relative;
    overflow: hidden;
    min-height: fn.px-to-rem(180px);
}

.orientVertical .carouselInner {
    height: 100%;
}

.orientHorizontal .carouselInner {
    height: auto;
}

.transition {
    transition: transform 0.25s ease-in-out;
}

.orientVertical .transitionNoTransform {
    transition: top 0.25s ease-in-out;
}

.orientHorizontal .transitionNoTransform {
    transition: left 0.25s ease-in-out;
}

.carouselSlider {
    position: relative;
    white-space: nowrap;
}

.carouselSlider > a {
    display: inline-block;
    width: auto;
    height: auto;
    margin-right: fn.px-to-rem(24px);
}

.orientVertical > .carouselSlider {
    width: 100%;
}

.orientVertical > .carouselSlider > a {
    display: block;
    margin-right: 0;
}

.orientHorizontal > .carouselSlider {
    white-space: nowrap;
    width: 100%;
}
